<div class="max-w-7xl mx-auto">
  <div class="flex flex-col md:flex-row md:items-end justify-between mb-8 gap-4">
    <div>
      <h1 class="text-on-background">Posts</h1>
      <p class="text-on-surface-variant">{{ totalItems() }} posts</p>
    </div>
    <div class="flex flex-col sm:flex-row gap-4 items-center w-full md:w-auto">
      @if (posts().length > 0) {
        <div class="relative w-full sm:w-72">
          <app-input
            type="text"
            placeholder="Buscar por título"
            [value]="search()"
            (valueChange)="onSearchChange($event)"
          />
        </div>
      }
      <app-button
        variant="primary"
        size="md"
        text="Nuevo Post"
        icon="icon-[lucide--plus]"
        (onClick)="onOpenCreateModal(createModal)"
      />
    </div>
  </div>

  <div class="flex flex-col gap-6">
    @if (isLoading()) {
      <app-loader />
    } @else if (errorMessage()) {
      <app-empty-state
        icon="icon-[lucide--alert-triangle]"
        title="Algo salió mal"
        description="{{ errorMessage() }}"
        actionText="Intentar de nuevo"
        actionVariant="secondary"
        class="flex items-center justify-center"
        (action)="onReload()"
      />
    } @else if (posts().length === 0) {
      <app-empty-state
        icon="icon-[lucide--search]"
        title="No hay posts disponibles"
        description="Crea tu primer post para comenzar."
        actionText="Crear post"
        class="flex items-center justify-center"
        (action)="onOpenCreateModal(createModal)"
      />
    } @else {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        @for (post of filteredPosts(); track post.id) {
          <app-post
            [post]="post"
            (view)="onViewPost($event)"
            (edit)="onEditPost(post, createModal)"
            (delete)="onDeletePost($event, deleteModal)"
          />
        }
        <app-delete-post-modal
          #deleteModal
          (confirm)="onConfirmDelete(deleteModal)"
          (closed)="onCloseDeleteModal()"
        />
      </div>

      <div class="mt-12">
        <app-pagination
          [currentPage]="currentPage()"
          [totalPages]="totalPages()"
          [totalItems]="totalItems()"
          [itemsPerPage]="itemsPerPage()"
          (pageChange)="onPageChange($event)"
        />
      </div>
    }
  </div>
  <app-create-post-modal #createModal (submitPost)="onSubmitCreatePost($event)" />
</div>
